html{
    width: 100%;
    height: 100vh;
}
body  {
    background: rgb(63, 107, 46);
    font-family: "comic-sans", comicsan;
    margin: 0;
 
}

nav{

    background-color: rgb(6, 68, 14);
    width: 100%;
    
}
.navimg{
    width: 60px;
    height: 53px;
    float: left;
}
.navkoszyk{
    width: 50px;
    height: 53px;
    background-color: rgb(111, 114, 28);
    float: right;
}
.navkoszyk img{
    width: 100%;
    height: 100%;
}
main{
    height: auto;
    display: flex;
    margin-left: 10px;
}
.filtry{
    width: 200px;
    height: 100%;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 59, 22);

    text-align: center;
    color: white;
    border: 5px solid black;

}
.sklep{
    margin-top: 15px;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.wiersz{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;

}
.box{
    display: flex;
    width: 110%;
    height: 100%;
    background-color: rgb(95, 117, 61);
    border: black solid 2px;
    margin-right: 5px;   
}
.box:hover{
    transform: scale(1.1);
}
.sklepimg{
    width: 300px;
    height: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
 
}
.sklepimg img{
    margin-left: 5px;
}
strong{
    background-color: red;
    padding: 2px;
}
p {
    background-color: rgb(6, 68, 14);
    font-family: 'Monteserrat';
    padding: 6px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    border: black solid 2px;
    width: 100%;
    height: 100%;
}

ul{
    display: inline;
}
li {
    margin-left:0;
    }
nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
  }
ul li {
    display: inline-block;

}
ul li:hover{
    background-color: grey;
}
ul li:hover ul{
    display: block;

}
ul li ul{
    position: absolute;
    width: 200px;
    display: none;
    padding: 0;
}
ul li ul li{
    background-color: grey;
    display: block;
}
ul li ul li a{
    display: block !important;
}
ul li ul li:hover{
    background-color: grey;
}
.krk{
    width: 60px;
    height: 53px;
    float: left;
}
.himaged{
    background-color: aliceblue;
   
    
    float: right;
}
